.new-supplier-modal__ctn{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px
}
.new-supplier-modal__form-group{
  display: flex;
  gap: 10px;
}
.new-supplier-modal__add-notes-ctn{
  display: flex;
  align-items: flex-end;
}
.new-supplier-modal__notes-ctn{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  overflow-y: auto;
  padding: 0 3px 3px 3px;
}
.new-supplier-modal__notes-ctn > li{
  display: flex;
  gap: 10px;
  align-items: baseline;
}