.orders-page__ctn{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
.orders-page__header{
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 20px;
}

.orders-page__header > button:not(.remove-hover){
  color: var(--dark-gray);
}

.orders-page__status-filter{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-gray)
}
.orders-page__search{
  margin-left: auto;
}

.orders-page__search > label:not(:last-child){
  margin-right: 10px;
}
.orders-page__body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders-page__pagination{
  text-align: right;
}

