.new-product-modal__images{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  width: 250px;
}
.new-product-modal__image-display{
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  border: 1px solid #e9eaee;
}
.new-product-modal__image-ctn{
  position: absolute;
  top: calc(100% + 10px);
  display: flex;
  height: 50px;
  gap: 17px;
}
.new-product-modal__image{
  width: 50px;
  border: 1px solid #e9eaee;
  object-fit: contain;
  transition: border .3s ease-in-out;
  cursor: pointer;
}
.new-product-modal__image:hover{
  border-color: #6799fb;
  
}