.titlebar{
  position: absolute;
  right: 10px;
  display: flex;
}



.titlebar__controls{
  display:flex;
  gap: 2px;
  margin-left: auto;  
  background-color: var(--primary);
  overflow: hidden;
}
/* .titlebar__controls::before{
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -5px;
  left: -9px;
  border-radius: 0 50px 0 0;
  border-right: 5px solid var(--primary);
  border-top: 5px solid var(--primary);
}
.titlebar__controls::after{
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -9px;
  border-radius: 50px 0 0 0;
  border-left: 5px solid var(--primary);
  border-top: 5px solid var(--primary);
}
 */
.titlebar__button {
  padding: 4px 8px;
}
.titlebar__button > svg > path{
  fill: #fff;

}
.titlebar__button:hover {
  background-color: #e6e6e6;
}
