.titlebar{
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary);
}

.titlebar p {
  line-height: 1;
}

.titlebar__drag-area{
  flex: 1;
  -webkit-app-region:  drag;
  -webkit-user-select: none;
  text-align: center;
  font-weight: 600;
    color:#fff
}

.titlebar__controls{
  display:flex;
  gap: 2px;
  margin-left: auto;  
  overflow: hidden;
}
.titlebar__button {
  height: 32px;
  width: 32px;
}
.titlebar__button > svg > path{
  fill: #fff;

}
.titlebar__button:hover {
  background-color: #e6e6e6;
}
