.aside-item__ctn{
    position: relative;
}

.aside-item__btn{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    height: 45px;
    color: var(--grey);
    border-radius: 4px;
    margin: 0 25px;
}

.aside-item__btn:hover{
    background-color: #e7e7e7;
}
.aside-item__btn > span{
    line-height: 1;
}
.aside-item__btn > svg > *{
    fill: var(--grey);
}
.aside-item__btn.active{
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 4px 10px -4px var(--primary);
}

.aside-item__btn.active > svg > *{
    fill: #fff;
}

.aside-item__btn.active::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    border-radius: 0 100px 100px 0;
    background-color: var(--primary);
}