.aside__ctn{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  background-color: var( --light-gray);
  user-select: none;
  border-right: 1px solid #efefef;
}

.aside__menu{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.aside__user{
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  height: 55px;
  background-color: #e3e5e8;
}

.aside__user-img{
  height: 36px;
  margin-left: 10px;
  border-radius: 1000px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  background-color: #fff;
}

.aside__user-name{
  overflow: hidden;
}

.aside__user-name > p{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.aside__user-name > p:first-child{
  font-weight: 500;
}
.aside__user-name > p:last-child{
  color: #757575
}

.aside__logout-btn{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  background-color: transparent;
  margin-left: auto;
  transition: background .3s ease-out;
}
.aside__logout-btn:hover{
  background-color:#c7c7c7;
}