.aside-marca__ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 64px;
    margin: 20px 0;
    background-color: #fff;
}
.aside-marca__logo{
    height: 35px;
}
.aside-marca__name{
    font-size: 25px;
    color: var(--dark-gray);
}