.copy-button__ctn{
  position: relative;
}
.copy-button__ctn > p{
  position: absolute;
  width: max-content;
  top: -37px;
  left: 50%;
  background: #fff;
  transform: translateX(-50%);
  border: 1px solid #2563ea;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #616161;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
}

.copy-button__ctn > p::after{
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-left: 1px solid #2563ea;
  border-bottom: 1px solid #2563ea;
  top: 100%;
  left: 50%;
  transform: translate(-50% , -3px) rotate(-45deg);
}

.copy-button__ctn > p.show {
  opacity: 1;
  visibility: visible;
}