.cards__ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}

.cards__ctn > h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}


.cards__ctn > p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}