
.file-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    aspect-ratio: 1;
    border: 2px dashed #6799fb;
    cursor: pointer;
}
.file-input > input{
    display: none;
}
  
.file-input.simple{
    width: 50px;
    border: 1px dashed #6799fb;

}
  
.file-input > p{
    text-align: center;
    font-size: 14px;
    margin: 0 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #6799fb;
}