.input__label{
  display: inline-block;
}
.input__label > p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.input{
  display: flex;
  align-items: center;
  padding-left:10px;
  height: 35px;
  border-radius: 5px;
  background-color:#e9eaee;
  color: var(--dark-gray);
  width: 100%;
  overflow: hidden;
}


.input[type="number"]{
  background: #e9eaee url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 68' fill='none'%3e%3cg stroke-width='2'%3e%3cline x1='8' x2='42' y1='33.5' y2='33.5' stroke='%23D8D8D8' /%3e%3cpolyline transform='translate(25 21) rotate(45) translate(-25 -20)' points='19 24 19 14 28 14' stroke='%23000'/%3e%3cpolyline transform='translate(25 44) rotate(225) translate(-25 -45)' points='19 48 19 39 28 39' stroke='%23000'/%3e%3c/g%3e%3c/svg%3e")
  no-repeat  center right;
}
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  margin-left: 10px;
  height: 40px;
  width: 16px;
  cursor: pointer;
}