.search-input__ctn{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1px 14px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background-color: var(--light-gray);
    cursor: pointer;
}
.search-input__icon{
    fill: var(--dark-gray);
    
}
.search-input__input{
    flex: 1;
    background-color: transparent;
    font-size: 15px;
    color: var(--dark-gray);
}

.search-input__ctn:focus-within{
    padding: 0 13px;
    border-color: #e1e1e1;
    border-width: 2px;
}