.select-box2{
  display: inline-block;
}
.select-box2 > p{
  margin-bottom: 5px;
}
.select-box2__options{
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 15;
  min-width: max-content;
  transform: translateY(0);
}

.select-box2__options.visible{
  display: flex;
  flex-direction: column;
}