.predict-category{
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
}

.predict-category__input-ctn{
  display: flex;
  gap: 30px;
}

.predict-category div.ctn {
  padding: 30px
}

.predict-category__results{
  border-top: 1px solid #ddd;
}

.predict-category__results div.ctn{
  padding: 15px 30px;
}

.predict-category__results ul li button{
  width: 100%;
  padding: 15px;
}

.predict-category__results ul > li button{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.predict-category__results ul > li:not(:last-child) button{
  border-bottom: none;
}

.predict-category__results ul li button:hover{
  background-color: #eaeaea;
}

.predict-category__results .predictedby {
  display: flex;
  align-items: center;
  gap: 10px;
}

.predict-category__results .predictedby img {
  height: 16px;
  object-fit: contain;
}