.product-list-item__ctn{
    border-radius: 4px;
    word-wrap: break-word;
    height: 75px;
    overflow: hidden;
}

.product-list-item__ctn > td{
    vertical-align: center;
    background-color: var(--light-gray);
}

.product-list-item__product{
    display: inline-flex;
    overflow: hidden;
    height: inherit;
    max-width: 400px;
}

.product-list-item__product > img {
    object-fit: contain;
    margin-right: 10px;
    width: 75px;
    height: 75px;
}

.product-list-item__product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* 
.product-list-item__product-description > p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 15px;
    max-width: 300px;
} */

.product-list-item__category{
    white-space: nowrap;
    padding: 5px 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #679cf5;
}


.product-list-item > td:last-child{
    text-align: right;
}