.product-page__ctn{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
}


.product-page__header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
}

.product-page__search{
    width: 250px;
    height: 100%;
}

.product-page__add-product{
    margin-left: auto;
    width: 150px;
    height: 100%;
}

.product-page__body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    border-radius: 10px;
}
.product-page__pagination-ctn{
    text-align: end;
}