.new-product-modal__attribute-section{
  flex: 1 1 0;
  overflow:auto
}

.new-product-modal__attributes-ctn{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.new-product-modal__attributes-ctn.required{
  margin-bottom: 10px;
}

.new-product-modal__dropdown-ctn{
  align-self: flex-end;
}