.order-item{
  height: 50px;
  background-color: #333;
}

.order-item__id{
  padding-left: 20px;
}

.order-item__status{
  text-transform: capitalize;
  font-weight: 500;
}

.order-item__status > span{
  font-size: 15px;
  padding: 4px 10px;
  border-radius: 5px;
}

.order-item__status.completed > span{
  color: #2CA62D;
  background-color: #0bff0d38;
}

.order-item__status.cancelled > span{
  color: #ff4747;
  background-color: #f7616140;
}

.order-item__status.pending > span{
  color: #FEB402;
  background-color: #ffd1626b;
}

.order-item > td:last-child{
  text-align: right;
}