.new-product-page{
  height: 100vh;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

.new-product-page__header {
  background-color: #fff;
}

.new-product-page__header > div{
  display: flex;
  max-width: 900px;
  margin: auto;
  padding: 10px 20px;
}

.new-product-page__header-ctn .logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.new-product-page__header-ctn .logo img{
  height: 40px;
}

.new-product-page__background{
  position: absolute;
  height: 350px;
  width: 100%;
  background-color: #e80a43;
}

.new-product-page__ctn{
  position: relative;
  max-width: 900px;
  padding: 20px;
  padding-top: 130px;
  margin: auto;
}

.new-product-page__title{
  margin-bottom: 50px;
  min-height: 94px;
}

.new-product-page__main-categories{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  opacity: 1;
}

.new-product-page__main-categories.hide{
  animation: hide .3s forwards ease-out;
}
.new-product-page__main-categories > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 180px;
  width: 180px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%)
}

.new-product-page__main-categories > button:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%)
}

.new-product-page__predict-wrapper{
  display: none;
  opacity: 0;
}

.new-product-page__predict-wrapper.show{
  display: block;
  animation: show .3s forwards .2s;
}

@keyframes show {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}