.sales-expenses-chart__ctn{
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 20px;
}

.sales-expenses-chart__title{
    margin-left: 10px;
    font-size:18px;
    font-weight: 500;
    color: var(--gray);
}

.sales-expenses-chart__info {
    display:flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}


.sales-expenses-chart__balance{
    margin: 5px 0 20px 10px;
    font-size: 32px;
    color: var(--dark-gray);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sales-expenses-chart__profit{
    margin-left: 10px;
    color:#119E2F;
    font-size: 14px;
    font-weight: bold;
}

.sales-expenses-chart__losses{
    margin-left: 10px;
    color:#F00;
    font-size: 14px;
    font-weight: bold;
}

.sales-expenses-chart__info > span{
    line-height: 1;
}

.sales-expenses-chart__info > span::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px
}

.sales-expenses-chart__info > span:first-child::before{
    background-color: #71BEF1;
}

.sales-expenses-chart__info > span:last-child::before{
    background-color: #FF91A9;
}

.sales-expenses-chart__chart{
    height: 200px;
    width: 100%;
}