.button__ctn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

.button__ctn:hover{
    color: var(--colorHover) !important;
    background-color: var(--bgHover) !important;
}

.button__ctn.remove-hover:hover{
    cursor: default;
}
.button__ctn:not(:disabled){
    transition: background var(--transitionDuration) ease-out, color var(--transitionDuration) ease-out;
}


.button__ctn.disabled:disabled{
    color: #fff !important;
    background-color: #d0d0d0 !important;
    cursor: unset;
}
