.login-page{
  flex : 1;
  display : flex;
  align-items : center;
  justify-content : center;
  background-color: #bdd3ff;
}
.login-page__ctn{
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  background-color: #fff;
  padding: 40px;
  gap: 20px;
  border-radius: 10px;
}
.login-page__logo-ctn{
  display : flex;
  align-items : center;
  gap: 20px;
}


.login-page__logo-ctn > img {
  height: 50px;
}

.login-page__logo-ctn > figcaption {
  font-weight: 500;
  font-size: 50px;
}

.login-page__oauth-title{
  font-size: 20px;
  font-weight: 500;
}